@model IEnumerable<SchoolManagementSystemASPProject.Models.StudentTb>
}
@{
    ViewData["Title"] = "Details";
}

<h1 class="row justify-content-center " style="margin-top:150px; ">تقارير الطلاب</h1>
<hr />
<div class="row justify-content-center ">
<main>
    <div class="container">
        <table class="report-table">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Birthdate</th>
                    <th>Phone</th>
                    <th>Classroom</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var student in Model)
                {
                    <tr>
                        <td>@student.Name</td>
                        <td>@student.Phone</td>
                        <td>@student.ClassName</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</main>
</div>