@model SchoolManagementSystemASPProject.Models.Student

@{
    ViewData["Title"] = "Create";
}

<h1 class="row justify-content-center " style="margin-top:150px; ">إضافة الطلاب </h1>
<div class="row justify-content-center ">
    <div class="col-md-4">
        <form asp-action="Create" style="border: 1px solid #ccc; padding: 50px; border-radius: 5px;">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label">الاسم : </label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BirthDate" class="control-label">تاريخ الميلاد:</label>
                <input asp-for="BirthDate" class="form-control" type="date" />
            </div>
            <div class="form-group">
                <label asp-for="Phone" class="control-label">الهاتف : </label>
                <input asp-for="Phone" class="form-control" />
                <span asp-validation-for="Phone" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ClassRoomId" class="control-label">رقم الصف : </label>
                <select asp-for="ClassRoomId" class ="form-control" asp-items="ViewBag.ClassRoomId"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="حفـــــظ" class="btn btn-primary" style="width:120px" />
            </div>
        </form>
    </div>
</div>
<div style="direction:ltr; margin-bottom: 350px" ;>
    <a asp-action="Index" class="btn btn-secondary">العودة للقائمة</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
