@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>


<section class="navigation-section" style="background-color: #f2f2f2; padding: 20px" ;>
    <h2>البيانات الاساسية </h2>
    <div style=" display: flex; justify-content: center;">
        <section class="navigation-section">
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="~/images/myImage.jpg" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">الاسم : محمد حمود عيسى</h5>
                    <h5 class="card-title">رقم الهاتف : 771036353</h5>
                    <h5 class="card-title">الايميل : abom31510@gmail.com</h5>
                    <p class="card-text">مطور ويب متخصص في تطوير تطبيقات الويب ومواقع الإنترنت. خبرة واسعة في تصميم وتطوير واجهات المستخدم الجذابة والوظائف القوية باستخدام أحدث التقنيات والأدوات.</p>
                </div>
            </div>
        </section>
       
    </div>
</section>


